.App {
  text-align: center;
}

.App-header {
  background: url('/aee-banner.jpg') no-repeat center;
  height: 250px;
  color: white;
}

.App-nav ul {
  margin: 0px;
  list-style-type: none;
  overflow: hidden;
  background-image: linear-gradient(#EEE, #B8B8B8);
}

.App-nav ul li {
  float: left;
}

.App-nav ul li a {
  display: block;
  padding: 10px;
}

.App-nav ul li a:hover, a:active {
  background-image: linear-gradient(#E5DDDB, #fff);
}
